body {
  background-color: #e3ecf0;
  color: black;
  text-align: center;
  font-size: 16px;
}

header {
  position: sticky;
}

h1 {
  color: white;
  font-size: 4cap;
  font-weight: 1000;
  text-align: center;
  margin: -150px 0;
}

h1, h2 span {
  display: block;
}

h2 {
  color: #023150;
  font-size: 3.5cap;
}

h4 {
  color: #023150;
}

h5 {
  font-size: medium;
  margin-top: -1.5em;
  font-weight: lighter;
}

p {
  color: black;
}

nav {
  /* position: sticky; */
  z-index: 10;
  top: 0;
}

ul {
  color: rgb(255, 255, 255);
  padding: 1em;
  display: flex;
  list-style-type: none;
  gap: 1em;
  justify-content: space-around;
  
}

nav ul {
  background-color: #003865;
  z-index: 10;
}

ol {
  color: black;
  padding: 1em;
  list-style-type: none;
  gap: 1em;
  justify-content: space-around;
}

li {
  font-weight: bold;
}

:root {
  color-scheme: light dark;
  --bg: light-dark(Pink, #023150); /* Background for the page */
  --clr: light-dark(#023150, White); /* Text color for the page */
  --button-bg: light-dark(#023150, White); /* Background color for button */
  --button-clr: light-dark(White, #023150); /* Text color for button */
  --text-clr: light-dark(Black, White);
}

/* Set theme for light mode */
html:has([value="light"]:checked) {
  color-scheme: light;
}

/* Set theme for dark mode */
html:has([value="dark"]:checked) {
  color-scheme: dark;
}

/* Apply background and text colors to the page */
html {
  color: var(--clr);
  background-color: var(--bg);
}

/* Apply theme-specific button styles */
button {
  padding: 1em;
  margin: 0;
  border: none;
  background-color: var(--button-bg);
  color: var(--button-clr);
  cursor: pointer;
}

p {
  color: var(--text-clr);
}

.logo {
  margin-top: -2em;
  margin-bottom: -2em;
}

.text-carousel {
  width: 100%;
  text-align: center;
  margin: -18px 0;
  padding: 3px 0;
  background-color: white;
  font-weight: bold;
  color: black;
  position: relative;
  font-size: smaller;
  z-index: 1;
  height: 30px;
}

.carousel-p {
  position: absolute;
  background-color: white;
  width: 100%;
  top: 0;
  left: 100%; /* Start buiten het scherm aan de rechterkant */
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.6s ease, opacity 0.6s ease; /* Animatie voor sliding en fading */
}

.carousel-p.active {
  left: 0;
  transform: translateX(0); /* Verplaats de tekst naar zijn originele plek (binnen het zicht) */
  opacity: 1; /* Toon de tekst */
}

.carousel-p.exit {
  transform: translateX(-100%); /* Schuif de huidige tekst naar links (uit het zicht) */
  opacity: 0; /* Verberg de tekst */
}

.frontpage {
  position: relative;
  width: 100%;
  height: 550px;
  background-image: url("/images/frontpagecoffee.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin: -10;
  padding: -10;
  margin-top: 1em;
}

.frontpage button {
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 13px;
  border-radius: 15px;
  font-weight: bold;
  margin: 150px 0;
  text-align: center;
}

.bestsellers {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Twee kolommen */
  gap: -5px;
  margin-top: 20px;
}

.bestsellers p {
  margin-top: -0.5em;
  font-size: smaller;
}

.bundles p {
  margin-top: -0.5em;
  font-size: smaller;
}

.pitcher,
.beakermug,
.icecubetray,
.chaioatmilklatte,
.matchagreen,
.xlcoldbrew,
.coldbrewstarter {
  justify-content: space-between;
  background-color: rgb(212, 220, 224);
  padding: 15px;
  margin: 5px;
  background: white;
  color: black;
  border-radius: 30px;
}

button {
  background-color: #215731;
  color: white;
  border-radius: 20px;
  width: 130px;
border-style: none;
}

.bestsellers.button {
  color: #215731;
}

.subscribebutton {
  background-color: white;
  color: black;
  border-radius: 20px;
  /* padding: 1px; */
  margin-top: -1em;
  margin-bottom: -1em;
}

.somethingforeveryone {
  justify-content: space-between;
  background-color: rgb(212, 220, 224);
  padding: 20px;
  background: white;
  color: black;
  border-radius: 50px;
  margin-top: 5em;
}

.sfe {
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  background-color: transparent;
}

.sfe h4 {
  color: #023150;
}

.bundles p {

}

.explorethearchieve {
  background: #003865;
  padding: 20px;
  color: rgb(255, 255, 255);
  border-radius: 40px;
  text-align: left;
}

.explorethearchieve h2 {
  color: white;
  text-align: center;
  font-size: 4.5cap;
  margin-top: -0.2em;
  margin-bottom: -0.2em;
}

.explorethearchieve h3 {
  font-size: 2.5cap;
  text-align: center;
}

.explorethearchieve p {
  color: white;
  text-align: center;
}

.explorethearchieve button {
  background-color: rgb(255, 255, 255);
  color: #023150;
  border-radius: 20px;
  padding: 5px;
  margin: 1em;
  text-align: center;
}

video {
  border-radius: 3cap;
}

.viewmorerecipesbutton {
  background-color: rgb(255, 255, 255);
  color: #023150;
  border-radius: 20px;
  padding: 5px;
  margin: 1em;
}

.thebuzz {
  display: flex;
  justify-content: space-between;
  background-color: rgb(212, 220, 224);
  padding: 20px;
  background: white;
  color: black;
  border-radius: 30px;
  padding-left: 2em;
  padding-right: 2em;
}

/* color: p button bestsellers: #9bcbeb */