body {
  background-color: #e3ecf0;
  color: black;
  text-align: center;
}

h1 {
  color: white;
  font-size: 4cap;
  font-weight: 1000;
  text-align: center;
  margin: -150px 0;
}

h1 span {
  display: block;
}

h2 {
  color: #023150;
  font-size: 3.5cap;
}

p {
  color: black;
}

nav {
  /* position: fixed; */
}

ul {
  color: rgb(255, 255, 255);
  padding: 1em;
  display: flex;
  list-style-type: none;
  gap: 1em;
  justify-content: space-around;
}

nav ul {
  background-color: #003865;
}

ol {
  color: black;
  padding: 1em;
  list-style-type: none;
  gap: 1em;
  justify-content: space-around;
}

li {
  font-weight: bold;
}

.logo {
  margin-top: -2em;
  margin-bottom: -2em;
}

.text-carousel {
  width: 100%;
  text-align: center;
  margin: -18px 0;
  padding: 3px 0;
  background-color: #f5f5f5;
  font-weight: bold;
  color: #023150;
  position: relative;
  font-size: smaller;
}

.carousel-p {
  position: absolute;
  width: 100%;
  top: 0;
  left: 100%; /* Start buiten het scherm aan de rechterkant */
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.6s ease, opacity 0.6s ease; /* Animatie voor sliding en fading */
}

.carousel-p.active {
  left: 0;
  transform: translateX(0); /* Verplaats de tekst naar zijn originele plek (binnen het zicht) */
  opacity: 1; /* Toon de tekst */
}

.carousel-p.exit {
  transform: translateX(-100%); /* Schuif de huidige tekst naar links (uit het zicht) */
  opacity: 0; /* Verberg de tekst */
}

.frontpage {
  position: relative;
  width: 100%;
  height: 550px;
  background-image: url("/images/frontpagecoffee.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin: -10;
  padding: -10;
  margin-top: -1em;
}

.frontpage button {
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 15px 85px;
  border-radius: 15px;
  font-weight: bold;
  margin: 150px 0;
}

.bestsellers {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Twee kolommen */
  gap: -5px; /* Ruimte tussen de grid-items */
  margin-top: 20px; /* Ruimte boven de grid */
}

.bestsellers.button {
  color: #215731;
}

/* p.pitcher {
  color: red;
} */

.pitcher,
.beakermug,
.icecubetray,
.chaioatmilklatte,
.matchagreen,
.xlcoldbrew,
.coldbrewstarter {
  justify-content: space-between;
  background-color: rgb(212, 220, 224);
  padding: 20px;
  margin: 5px;
  background: white;
  color: black;
  border-radius: 30px;
}

.subscribebutton {
  background-color: white;
  color: black;
  border-radius: 20px;
  /* padding: 1px; */
  margin-top: -1em;
  margin-bottom: -1em;
}

button {
  background-color: #215731;
  color: white;
  border-radius: 20px;
  width: 130px;
border-style: none;
}

.somethingforeveryone {
  justify-content: space-between;
  background-color: rgb(212, 220, 224);
  padding: 20px;
  background: white;
  color: black;
  border-radius: 50px;
  margin-top: 5em;
}

.sfe {
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  background-color: transparent;
}

.sfe h4 {
  color: #023150;
}

.explorethearchieve {
  background: #023150;
  padding: 20px;
  color: rgb(255, 255, 255);
  border-radius: 30px;
  text-align: left;
}

p.explorethearchieve {
  color: white;
}

.viewmorerecipesbutton {
  background-color: rgb(255, 255, 255);
  color: #023150;
  border-radius: 20px;
  padding: 5px;
  margin: 1em;
}

.thebuzz {
  display: flex;
  justify-content: space-between;
  background-color: rgb(212, 220, 224);
  padding: 20px;
  background: white;
  color: black;
  border-radius: 30px;
  padding-left: 2em;
  padding-right: 2em;
}
